<div class="card overflow-hidden">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h3 class="mb-2 fw-semibold">{{title}}</h3>
                <p class="text-muted fs-13 mb-0">Total Companies</p>
                <p class="text-muted mb-0 mt-2 fs-12">
                    {{value}}
                    since last month
                </p>
            </div>
            <div class="col col-auto top-icn dash">
                <div class="counter-icon bg-primary dash ms-auto box-shadow-primary">
                    <i class="fa fa-users white" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>
