<div class="card">
    <div class="card-header border-bottom">
        <h3 class="card-title">Orders</h3>
    </div>
    <div class="card-body">
        <div class="sales-stats d-flex">
            <div>
                <div class="text-muted fs-13">Total Orders
                    <span class="p-2 br-5 text-success"><i class="fe fe-arrow-up-right"></i></span>
                </div>
                <h3 class="fw-semibold">${{title}}</h3>
                <div><span class="text-success fs-13 me-1">{{value}}</span>Increase Since last Year</div>
            </div>
        </div>
        <div id="chartD"></div>
    </div>
</div>
