repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.11.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
        name: black
        language_version: python3
        exclude: ^.*\b(migrations)\b.*$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # - id: check-added-large-files
      # - id: check-ast
      # - id: check-builtin-literals
      # - id: check-case-conflict
      # - id: check-docstring-first
      # - id: check-executables-have-shebangs
      # - id: check-json
      - id: check-merge-conflict
      # - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      # - id: check-toml
      # - id: check-vcs-permalinks
      # - id: check-xml
      # - id: check-yaml
      # - id: debug-statements
      # - id: destroyed-symlinks
      # - id: detect-aws-credentials
      # - id: detect-private-key
      # - id: double-quote-string-fixer
      - id: end-of-file-fixer
      # - id: fix-byte-order-marker
      # - id: fix-encoding-pragma
      # - id: file-contents-sorter
      # - id: forbid-new-submodules
      # - id: mixed-line-ending
      # - id: name-tests-test
      # - id: no-commit-to-branch
      # - id: pretty-format-json
      # - id: requirements-txt-fixer
      # - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://gitlab.com/retnikt/flake9
    rev: '3.8.3.post1'
    hooks:
    - id: flake8
      additional_dependencies:
        - toml
      exclude: "^docs/"
