USERNAME="ubuntu"
IP_ADDRESS="3.226.221.119"
KEY_FILE_PATH=path to your .pem key file

POSTGRES_USERNAME=Fill pg user name here
POSTGRES_PASSWORD=fill pg password here
POSTGRES_HOST="awseb-e-ybzwr4zsnb-stack-awsebrdsdatabase-votudmsto4kv.cyulcdhbeh6e.us-east-1.rds.amazonaws.com"
POSTGRES_PORT="5432"
POSTGRES_DB="ebdb"
