aioboto3==9.6.0 ; python_version >= "3.8" and python_version < "4.0"
aiobotocore[boto3]==2.3.0 ; python_version >= "3.8" and python_version < "4.0"
aiofiles==0.7.0 ; python_version >= "3.8" and python_version < "4.0"
aiohttp==3.8.3 ; python_version >= "3.8" and python_version < "4.0"
aioitertools==0.11.0 ; python_version >= "3.8" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.8" and python_version < "4.0"
amqp==5.1.1 ; python_version >= "3.8" and python_version < "4.0"
anyio==3.6.2 ; python_version >= "3.8" and python_version < "4.0"
asgiref==3.6.0 ; python_version >= "3.8" and python_version < "4.0"
async-generator==1.10 ; python_version >= "3.8" and python_version < "4.0"
async-timeout==4.0.2 ; python_version >= "3.8" and python_version < "4.0"
attrs==22.2.0 ; python_version >= "3.8" and python_version < "4.0"
automat==22.10.0 ; python_version >= "3.8" and python_version < "4.0"
backports-zoneinfo==0.2.1 ; python_version >= "3.8" and python_version < "3.9"
bcrypt==4.0.1 ; python_version >= "3.8" and python_version < "4.0"
billiard==3.6.4.0 ; python_version >= "3.8" and python_version < "4.0"
boto3==1.21.21 ; python_version >= "3.8" and python_version < "4.0"
botocore==1.24.21 ; python_version >= "3.8" and python_version < "4.0"
celery==5.2.7 ; python_version >= "3.8" and python_version < "4.0"
certifi==2021.10.8 ; python_version >= "3.8" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.8" and python_version < "4.0"
charset-normalizer==2.1.1 ; python_version >= "3.8" and python_version < "4.0"
click-didyoumean==0.3.0 ; python_version >= "3.8" and python_version < "4.0"
click-plugins==1.1.1 ; python_version >= "3.8" and python_version < "4.0"
click-repl==0.2.0 ; python_version >= "3.8" and python_version < "4.0"
click==8.1.3 ; python_version >= "3.8" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "win32" or python_version >= "3.8" and python_version < "4.0" and platform_system == "Windows"
constantly==15.1.0 ; python_version >= "3.8" and python_version < "4.0"
coverage==7.1.0 ; python_version >= "3.8" and python_version < "4.0"
cryptography==39.0.0 ; python_version >= "3.8" and python_version < "4.0"
cssselect==1.2.0 ; python_version >= "3.8" and python_version < "4.0"
django-celery-beat==2.4.0 ; python_version >= "3.8" and python_version < "4.0"
django-cors-headers==3.13.0 ; python_version >= "3.8" and python_version < "4.0"
django-credit-cards==0.4.1 ; python_version >= "3.8" and python_version < "4.0"
django-extensions==3.2.1 ; python_version >= "3.8" and python_version < "4.0"
django-filter==2.4.0 ; python_version >= "3.8" and python_version < "4.0"
django-nested-admin==3.4.0 ; python_version >= "3.8" and python_version < "4.0"
django-phonenumber-field[phonenumbers]==5.2.0 ; python_version >= "3.8" and python_version < "4.0"
django-rest-passwordreset==1.3.0 ; python_version >= "3.8" and python_version < "4.0"
django-ses==2.6.1 ; python_version >= "3.8" and python_version < "4.0"
django-storages==1.13.2 ; python_version >= "3.8" and python_version < "4.0"
django-timezone-field==5.0 ; python_version >= "3.8" and python_version < "4.0"
django==4.1.6 ; python_version >= "3.8" and python_version < "4.0"
djangorestframework-recursive==0.1.2 ; python_version >= "3.8" and python_version < "4.0"
djangorestframework-simplejwt==5.2.2 ; python_version >= "3.8" and python_version < "4.0"
djangorestframework==3.14.0 ; python_version >= "3.8" and python_version < "4.0"
drf-nested-routers==0.93.4 ; python_version >= "3.8" and python_version < "4.0"
ebaysdk==2.2.0 ; python_version >= "3.8" and python_version < "4.0"
exceptiongroup==1.1.0 ; python_version >= "3.8" and python_version < "3.11"
factory-boy==3.2.1 ; python_version >= "3.8" and python_version < "4.0"
faker==16.6.1 ; python_version >= "3.8" and python_version < "4.0"
filelock==3.9.0 ; python_version >= "3.8" and python_version < "4.0"
flashtext==2.7 ; python_version >= "3.8" and python_version < "4.0"
frozenlist==1.3.3 ; python_version >= "3.8" and python_version < "4.0"
gunicorn==20.1.0 ; python_version >= "3.8" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.8" and python_version < "4.0"
httptools==0.2.0 ; python_version >= "3.8" and python_version < "4.0"
hyperlink==21.0.0 ; python_version >= "3.8" and python_version < "4.0"
idna==3.4 ; python_version >= "3.8" and python_version < "4"
incremental==22.10.0 ; python_version >= "3.8" and python_version < "4.0"
iniconfig==2.0.0 ; python_version >= "3.8" and python_version < "4.0"
itemadapter==0.7.0 ; python_version >= "3.8" and python_version < "4.0"
itemloaders==1.0.6 ; python_version >= "3.8" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.8" and python_version < "4.0"
kombu==5.2.4 ; python_version >= "3.8" and python_version < "4.0"
lxml==4.9.2 ; python_version >= "3.8" and python_version < "4.0"
markupsafe==2.1.2 ; python_version >= "3.8" and python_version < "4.0"
multidict==6.0.4 ; python_version >= "3.8" and python_version < "4.0"
numpy==1.24.2 ; python_version < "4.0" and python_version >= "3.8"
outcome==1.2.0 ; python_version >= "3.8" and python_version < "4.0"
packaging==23.0 ; python_version >= "3.8" and python_version < "4.0"
pandas==1.5.3 ; python_version >= "3.8" and python_version < "4.0"
paramiko==3.1.0 ; python_version >= "3.8" and python_version < "4.0"
parsel==1.7.0 ; python_version >= "3.8" and python_version < "4.0"
phonenumbers==8.13.5 ; python_version >= "3.8" and python_version < "4.0"
pillow==8.4.0 ; python_version >= "3.8" and python_version < "4.0"
pluggy==1.0.0 ; python_version >= "3.8" and python_version < "4.0"
prompt-toolkit==3.0.36 ; python_version >= "3.8" and python_version < "4.0"
protego==0.2.1 ; python_version >= "3.8" and python_version < "4.0"
psycopg2-binary==2.9.5 ; python_version >= "3.8" and python_version < "4.0"
pyasn1-modules==0.2.8 ; python_version >= "3.8" and python_version < "4.0"
pyasn1==0.4.8 ; python_version >= "3.8" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.8" and python_version < "4.0"
pydispatcher==2.0.6 ; python_version >= "3.8" and python_version < "4.0" and platform_python_implementation == "CPython"
pyjwt==2.6.0 ; python_version >= "3.8" and python_version < "4.0"
pynacl==1.5.0 ; python_version >= "3.8" and python_version < "4.0"
pyopenssl==23.0.0 ; python_version >= "3.8" and python_version < "4.0"
pypydispatcher==2.1.2 ; python_version >= "3.8" and python_version < "4.0" and platform_python_implementation == "PyPy"
pysftp==0.2.9 ; python_version >= "3.8" and python_version < "4.0"
pysocks==1.7.1 ; python_version >= "3.8" and python_version < "4.0"
pytest-django==4.5.2 ; python_version >= "3.8" and python_version < "4.0"
pytest==7.2.1 ; python_version >= "3.8" and python_version < "4.0"
python-crontab==2.7.1 ; python_version >= "3.8" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "4.0"
python-dotenv==0.19.2 ; python_version >= "3.8" and python_version < "4.0"
python-monkey-business==1.0.0 ; python_version >= "3.8" and python_version < "4.0"
python-slugify==5.0.2 ; python_version >= "3.8" and python_version < "4.0"
pytz==2022.7.1 ; python_version >= "3.8" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "4.0"
queuelib==1.6.2 ; python_version >= "3.8" and python_version < "4.0"
redis==3.5.3 ; python_version >= "3.8" and python_version < "4.0"
requests-file==1.5.1 ; python_version >= "3.8" and python_version < "4.0"
requests==2.28.2 ; python_version >= "3.8" and python_version < "4"
result==0.9.0 ; python_version >= "3.8" and python_version < "4.0"
s3transfer==0.5.2 ; python_version >= "3.8" and python_version < "4.0"
scrapy==2.8.0 ; python_version >= "3.8" and python_version < "4.0"
selenium==4.8.0 ; python_version >= "3.8" and python_version < "4.0"
sentry-sdk==1.15.0 ; python_version >= "3.8" and python_version < "4.0"
service-identity==21.1.0 ; python_version >= "3.8" and python_version < "4.0"
setuptools==67.6.0 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.8" and python_version < "4.0"
sortedcontainers==2.4.0 ; python_version >= "3.8" and python_version < "4.0"
sqlparse==0.4.3 ; python_version >= "3.8" and python_version < "4.0"
stripe==2.76.0 ; python_version >= "3.8" and python_version < "4.0"
text-unidecode==1.3 ; python_version >= "3.8" and python_version < "4.0"
tldextract==3.4.0 ; python_version >= "3.8" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
tqdm==4.64.1 ; python_version >= "3.8" and python_version < "4.0"
trio-websocket==0.9.2 ; python_version >= "3.8" and python_version < "4.0"
trio==0.22.0 ; python_version >= "3.8" and python_version < "4.0"
twisted-iocpsupport==1.0.2 ; python_version >= "3.8" and python_version < "4.0" and platform_system == "Windows"
twisted==22.10.0 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.4.0 ; python_version >= "3.8" and python_version < "4.0"
tzdata==2022.7 ; python_version >= "3.8" and python_version < "4.0"
urllib3==1.26.14 ; python_version >= "3.8" and python_version < "4"
urllib3[socks]==1.26.14 ; python_version >= "3.8" and python_version < "4.0"
uvicorn[standard]==0.15.0 ; python_version >= "3.8" and python_version < "4.0"
uvloop==0.17.0 ; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.8" and python_version < "4.0"
vine==5.0.0 ; python_version >= "3.8" and python_version < "4.0"
w3lib==2.1.1 ; python_version >= "3.8" and python_version < "4.0"
watchgod==0.8.2 ; python_version >= "3.8" and python_version < "4.0"
wcwidth==0.2.6 ; python_version >= "3.8" and python_version < "4.0"
webdriver-manager==3.8.5 ; python_version >= "3.8" and python_version < "4.0"
websockets==10.4 ; python_version >= "3.8" and python_version < "4.0"
werkzeug==2.2.2 ; python_version >= "3.8" and python_version < "4.0"
wrapt==1.14.1 ; python_version >= "3.8" and python_version < "4.0"
wsproto==1.2.0 ; python_version >= "3.8" and python_version < "4.0"
xmltodict==0.13.0 ; python_version >= "3.8" and python_version < "4.0"
yarl==1.8.2 ; python_version >= "3.8" and python_version < "4.0"
zope-interface==5.5.2 ; python_version >= "3.8" and python_version < "4.0"
