option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "config.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

container_commands:
  00_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
  01_removepycurl:
    command: "sudo su -c 'source /var/app/venv/*/bin/activate && pip uninstall pycurl -y'"
  02_reinstallpycurl:
    command: "sudo su -c 'source /var/app/venv/*/bin/activate && export export CPPFLAGS=-I/usr/include/openssl && export LDFLAGS=-L/usr/lib64/openssl/engines && pip install pycurl --global-option=--with-openssl'"
