<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.staging.joinordo.com/emails/fonts/font.css">
</head>
<body>
  <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
    <tr>
      <td style="min-width: 718px; background-color: #ebf4f8;">
        <table cellspacing="0" cellpadding="0" border="0" style="width: 518px; height: 384px; margin: 28px auto;">
          <tr>
            <td style="padding: 60px 88px 60px; border-radius: 8px; background-color: #fff;">
              <img src="https://cdn.staging.joinordo.com/emails/images/logo.svg" alt="" style="width: 100px; height: 31px; margin: 0 0 30px 0px;">
              <p style="font-family: POPPINS-BOLD; font-size: 14px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.5; letter-spacing: normal; text-align: left; color: #333;">Password Reset</p>
              <p style="font-family: GILROY; font-size: 12px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.83; letter-spacing: normal; text-align: left; color: #707070;">Forgot your password? No worries, click the button below to reset your password. If you have any issues contact our support. support@joinordo.io</p>
              <a href="{{ SITE_URL }}/password-reset/confirm?token={{TOKEN}}" style="display: flex; align-items: center; justify-content: center; width: 116px; height: 35px; margin: 20px 76px 40px 0; padding: 10px 15px 10px 16px; border-radius: 4px; background-color: #49a2cb; font-family: POPPINS-SEMI-BOLD; font-size: 13px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 2.4; letter-spacing: 0.4px; text-align: left; color: #fff; text-decoration: none;">Reset Password</a>
              <p style="width: 100%; height: 0; margin: 40px 0 0; opacity: 0.2; border: solid 0.5px #1c455a;"></p>
              <table cellspacing="0" cellpadding="0" border="0" style="width: 100%; margin-top: 30px;">
                <tr>
                  <td width="60%">
                    <span style="font-family: GILROY; font-size: 10px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 2.2; letter-spacing: normal; text-align: right; color: #707070;">joinordo.com</span>
                  </td>
                  <td width="20%">
                    <span style="font-family: GILROY; font-size: 10px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 2.2; letter-spacing: normal; text-align: right; color: #707070;">Terms of Use</span>
                  </td>
                  <td width="20%" align="right">
                    <span style="font-family: GILROY; font-size: 10px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 2.2; letter-spacing: normal; text-align: right; color: #707070;">Privacy Policy</span>
                  </td>
                </tr>
              </table>
              <p>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
