<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Budget</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.joinordo.com/emails/fonts/font.css">
</head>
<body>
  <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
    <tr>
      <td style="min-width: 718px; background-color: #ebf4f8; position: relative;">
        <table cellspacing="0" cellpadding="0" border="0" style="width: 518px; height: 384px; margin: 28px auto; position: relative; z-index: 2;">
          <tr>
            <td style="text-align: center;">
              <img src="https://cdn.joinordo.com/emails/images/logo.png" alt="" style="width: 150px; height: 40px; margin: 0 0 30px 0px;">
            </td>
          </tr>
          <tr>
            <td style="padding: 60px 88px 60px; border-radius: 8px; background-color: #fff;">
              <p style="font-family: GILROY-BOLD; font-size: 18px; font-stretch: normal; font-style: normal; letter-spacing: normal; text-align: left; color: #1c455a; padding-top:20px;">Update Your Budget Notice</p>
              <p style="font-family: GILROY; font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.83; letter-spacing: normal; text-align: left; color: rgba(44, 44, 44, 0.5)">
                Hello! I was looking at your numbers and noticed your budget was the exact same as last month. I know, I need to get a life.
              </p>
              <p style="font-family: GILROY; font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.83; letter-spacing: normal; text-align: left; color: rgba(44, 44, 44, 0.5)">
                Please go to www.joinordo.com and update your budget so your team is looking at the budgets you want them to stick to.
              </p>
              <p style="font-family: GILROY; font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.83; letter-spacing: normal; text-align: left; color: rgba(44, 44, 44, 0.5)">
                I also want you to be rest assured that I'll keep peeking in to help you maximize your experience.
              </p>
              <p style="font-family: GILROY; font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.83; letter-spacing: normal; text-align: left; color: rgba(44, 44, 44, 0.5)">
                Keep up the great work!
              </p>
              <p style="font-family: GILROY; font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.83; letter-spacing: normal; text-align: left; color: rgba(44, 44, 44, 0.5)">
                Gordo
              </p>
              <a href="{{ SITE_URL }}/password-reset/confirm?secret=" style="display: block; width: auto; height: 35px; max-width: 200px; margin: 40px auto 0 auto; padding: 2px 15px 2px 16px; border-radius: 4px; background-color: #49a2cb; font-family: GILROY-SEMI-BOLD; font-size: 13px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 2.4; letter-spacing: 0.4px; text-align: center; color: #fff; text-decoration: none;">Update Budget</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
