<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invitation</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.joinordo.com/emails/fonts/font.css">
  </style>
</head>
<body>
  <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
    <tr>
      <td style="min-width: 718px; background-color: #ebf4f8; position: relative;">
        <table cellspacing="0" cellpadding="0" border="0" style="width: 726px; height: 384px; margin: 28px auto; position: relative; z-index: 2;">
          <tr>
            <td style="text-align: center;">
              <img src="https://cdn.joinordo.com/emails/images/logo.png" alt="" style="width: 170px; height: 50px; margin: 0 0 30px 0px;">
            </td>
          </tr>
          <tr>
            <td style="padding: 60px 88px 60px; border-radius: 8px; background-color: #fff;">
              <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                <tr>
                  <td>
                    <p style="font-family:GILROY-BOLD; font-size: 20px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.2; letter-spacing: normal; text-align: left; color: #284458;">Welcome to Ordo!</p>
                    <p style="max-width: 348px; font-family:GILROY; font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.6; letter-spacing: normal; text-align: left; color: rgba(44, 44, 44, 0.5)">Hi, I’m Gordo from Ordo. And I’d like to welcome you to the smarter way to order and manage your dental supplies.</p>
                  </td>
                  <td style="text-align: right;">
                    <img src="https://cdn.joinordo.com/emails/images/welcome_character.png" alt="" style="width: 150px; height: 146px;">
                  </td>
                </tr>
              </table>
              <p style="width: 100%; height: 0; margin: 0 0 40px 0; opacity: 0.2; border: solid 0.5px #1c455a;"></p>
              <p style="font-family:GILROY-BOLD; font-size: 20px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.2; letter-spacing: normal; text-align: left; color: #284458;">Here’s how to get started:</p>
              <table cellspacing="0" cellpadding="0" border="0" style="width: 100%; margin-top: 30px;">
                <tr>
                  <td width="15%" style="vertical-align: baseline;">
                    <p style="margin: 0; width: 70px; height: 70px;">
                      <img src="https://cdn.joinordo.com/emails/images/vendors.png" alt="" style="width: 100%; height: 100%;">
                    </p>
                  </td>
                  <td width="85%">
                    <p style="font-family:GILROY-SEMIBOLD; font-size: 18px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 1.2; letter-spacing: normal; text-align: left; color: #284458;">Link more vendors</p>
                    <p style="font-family:GILROY; font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.6; letter-spacing: normal; text-align: left; color: rgba(44, 44, 44, 0.5)">Make sure to link all your vendors. We pull your order history and your previously purchased items into your Inventory List and keep it organized for you. Don’t see one of your vendors on our list? Hit us up and we can get it added for you. We’re adding new vendors all the time!</p>
                  </td>
                </tr>
                <tr>
                  <td width="15%" style="padding: 40px 0; vertical-align: baseline;">
                    <p style="margin: 0; width: 55px; height: 45px;">
                      <img src="https://cdn.joinordo.com/emails/images/inventory_list.png" alt="" style="width: 90%; height: 100%;">
                    </p>
                  </td>
                  <td width="85%">
                    <p style="font-family:GILROY-SEMIBOLD; margin-top: 30px; font-size: 18px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 1.2; letter-spacing: normal; text-align: left; color: #284458;">Customize your Inventory List</p>
                    <p style="font-family:GILROY; font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.6; letter-spacing: normal; text-align: left; color: rgba(44, 44, 44, 0.5)">Speed up your ordering by customizing your Inventory List the way you want it. Drag and drop your items into different categories. Even create a new category according to your office needs.</p>
                  </td>
                </tr>
                <tr>
                  <td width="15%" style="padding: 40px 0; vertical-align: baseline;">
                    <p style="margin: 0; width: 60px; height: 50px;">
                      <img src="https://cdn.joinordo.com/emails/images/make_order.png" alt="" style="width: 90%; height: 100%;">
                    </p>
                  </td>
                  <td width="85%" style="padding: 40px 0; ">
                    <p style="font-family:GILROY-SEMIBOLD; margin-top: 0px; font-size: 18px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 1.2; letter-spacing: normal; text-align: left; color: #284458;">Place an Order!</p>
                    <p style="font-family:GILROY; font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.6; letter-spacing: normal; text-align: left; color: rgba(44, 44, 44, 0.5)">Use our price comparison tool to find the best pricing, add to cart and checkout. We also automatically add any promotions and coupon codes directly into your cart so you don’t have to worry about missing out! Now place that order, relax, and watch the magic happen!</p>
                  </td>
                </tr>
              </table>
              <p style="width: 100%; height: 0; margin: 40px 0 0; opacity: 0.2; border: solid 0.5px #1c455a;"></p>
              <p style="font-family:GILROY-BOLD; margin-top: 30px; font-size: 20px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.2; letter-spacing: normal; text-align: left; color: #284458;">Let me show you how to get even more value from Ordo...</p>
              <table cellspacing="0" cellpadding="0" border="0" style="width: 100%; margin-top: 30px;">
                <tr>
                  <td width="15%" style="vertical-align: baseline;">
                    <p style="margin: 0; width: 60px; height: 60px">
                      <img src="https://cdn.joinordo.com/emails/images/budgets.png" alt="" style="width: 100%; height: 100%;">
                    </p>
                  </td>
                  <td width="85%">
                    <p style="font-family:GILROY-SEMIBOLD; font-size: 18px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 1.2; letter-spacing: normal; text-align: left; color: #284458;">Add Budgets</p>
                    <p style="font-family:GILROY; font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.6; letter-spacing: normal; text-align: left; color: rgba(44, 44, 44, 0.5)">If you haven’t done so yet, add a budget for your dental supplies and for your office supplies. Yep, we keep them separate.</p>
                  </td>
                </tr>
                <tr>
                  <td width="15%" style="padding: 40px 0; vertical-align: baseline;">
                    <p style="margin: 0; margin-top: 10px; width: 60px; height: 60px">
                      <img src="https://cdn.joinordo.com/emails/images/permissions.png" alt="" style="width: 100%; height: 100%;">
                    </p>
                  </td>
                  <td width="85%" style="padding: 40px 0;">
                    <p style="font-family:GILROY-SEMIBOLD; margin-top: 0px; font-size: 18px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 1.2; letter-spacing: normal; text-align: left; color: #284458;">Setup Permissions</p>
                    <p style="font-family:GILROY; font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.6; letter-spacing: normal; text-align: left; color: rgba(44, 44, 44, 0.5)">You can set your order approval rules the way you want. Do it for all orders, ones getting close to your budget, just the orders that have exceeded your budget, or none at all. It’s your choice.</p>
                  </td>
                </tr>
              </table>
              <p style="width: 100%; height: 0; margin: 40px 0 0; opacity: 0.2; border: solid 0.5px #1c455a;"></p>
              <p style="margin: 20px auto; max-width: 414px; font-family:GILROY; font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.6; letter-spacing: normal; text-align: center; color: rgba(44, 44, 44, 0.5)">Ordo is simple to set up and simple to use. But questions do come up. Click the Help Center or the chat bubble on the dashboard and Gordo will help you with your questions.</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
