:root{
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #8FBD56;
    --bs-secondary: #e984b1;
    --bs-success: #198754;
    --bs-info: #59adec;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
body {
    background-color:#f7f8f9;
    color: #565656;
}
.landing-page .logo .header-brand-img.light-logo1 {
    display: block;
}
.landing-page .container {
    max-width: 85%;
}
.landing-page .navbar-nav {
    flex-direction: row;
}
@media only screen and (min-width: 767px) {
    .landing-page .top .nav li {
        margin-left: 0;
        margin-right: 28px;
   }
}
.landing-page .nav-link:hover, .landing-page .nav-link:focus {
    color: #8fbd56 !important;
}
.landing-page .nav-link.active {
    padding: 0.185rem 0.65rem !important;
    color: #ffffff !important;
}
.landing-page .nav-link {
    font-weight: 500;
    font-size: 14px;
}
.landing-page .btn-outline-success-gradient {
    background-color: transparent;
    border: 1px solid green;
    color: green;
}
@media (min-width: 992px) {
    .landing-page .d-lg-flex {
        display: flex;
   }
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #8fbd56 !important;
}
.nav-link {
    display: block;
    color: #565656 !important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
