    {% load static %}

    <!-- JQUERY JS -->
    <script src="{% static 'assets/js/jquery.min.js'%}"></script>

    <!-- BOOTSTRAP JS -->
    <script src="{% static 'assets/plugins/bootstrap/js/popper.min.js'%}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>

    <!-- PERFECT SCROLLBAR JS-->
    <script src="{% static 'assets/plugins/p-scroll/perfect-scrollbar.js'%}"></script>

    <!-- COLOR THEME JS -->
    <script src="{% static 'assets/js/themeColors.js'%}"></script>

    <!-- CUSTOM JS -->
    <script src="{% static 'assets/js/custom1.js'%}"></script>

    <!-- SWITCHER JS -->
	<script src="{% static 'assets/switcher/js/switcher.js'%}"></script>
