        {% load static %}

        <!-- BACK-TO-TOP -->
        <a href="#top" id="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

        <!-- JQUERY JS -->
        <script src="{% static 'assets/js/jquery.min.js'%}"></script>

        <!-- BOOTSTRAP JS -->
        <script src="{% static 'assets/plugins/bootstrap/js/popper.min.js'%}"></script>
        <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>

		<!-- SELECT2 JS -->
		<script src=" {% static 'assets/plugins/select2/select2.full.min.js' %} "></script>

        <!-- SIDE-MENU JS -->
        <script src="{% static 'assets/plugins/sidemenu/sidemenu.js'%}"></script>

        <!-- PERFECT SCROLLBAR JS-->
        <script src="{% static 'assets/plugins/p-scroll/perfect-scrollbar.js'%}"></script>
        <script src="{% static 'assets/plugins/p-scroll/pscroll.js'%}"></script>

		<!-- STICKY JS -->
		<script src="{% static 'assets/js/sticky.js'%}"></script>

        <!-- CUSTOM JS -->
        <script src="{% static 'assets/js/custom1.js'%}"></script>

        <!-- SWITCHER JS -->
        <script src="{% static 'assets/switcher/js/switcher.js'%}"></script>
